<div class=toolbar role="banner">
  <span>Vehicle Repository</span>
   <div class="spacer"></div>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Delete
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Delete ID</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Delete Name</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Delete Model</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Delete Price</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Delete new/used</a></li>
              </ul>
          </li>
      </ul>
   </div>    
</div>

<div id="LeftSidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="form.component.html">Form</a>
  <a href="output.component.html">Output</a>
</div>

<div class="content" role="main">
  <h2>find your vehicle</h2>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
  
  <div class="space"></div>

  <div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="input-group mb-3 ">
                    <input type="number" name="Id" id="id" class="form-control text-primary font-weight-bold" placeholder="ID" aria-label="id"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3 ">
                    <input type="text" name="name" id="name" class="form-control text-primary font-weight-bold" placeholder="Name" aria-label="name"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="model" id="model" class="form-control" placeholder="Model"
                        aria-label="type" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <input  type="number" name="price" id="price" class="form-control " placeholder="Price"
                        aria-label="brand" aria-describedby="basic-addon1" >
                </div>
                <div class="input-group mb-3">
                    <input type="text" name="New/used" id="new/used" class="form-control" placeholder="New/used"
                        aria-label="type" aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-primary">Insert</button>
            </div>
            <li><hr class="dropdown-divider"></li>
        </div>
    </div>
  </div>
</div>
 